img {
    max-height: 425px;
}

figure {
    max-width: 300px;

}

ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}


li {
    list-style: circle;
}

@media only screen and (max-width: 600px) {
    figure {
        max-width: 175px;
    }
}