header {
    background-color: black;
    color: white;
    height: 100px;
    padding: 0 0 0 20px;
}

header h1 {
    line-height: 100px;
}

@media screen and (max-width: 600px) {
   header h1 {
    font-size: 20px;
  }
}


img {
    max-height: 425px;
}

figure {
    max-width: 300px;

}

figure.primary {
    max-width: 100%;
}

ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}


li {
    list-style: circle;
}

@media only screen and (max-width: 600px) {
    figure {
        max-width: 175px;
    }
}