@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Caveat:wght@400..700&family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 20px 0 20px;
  height: 100px;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    font-size: 20px;
    padding: 0;
  }

  header h1 {
    font-size: 18px;
    line-height: 18px;
  }

  header ul li {
    font-size: 15px;
    line-height: 25px;
  }

  nav {
    width: 100%;
    background-color: slategray;
    padding: 10px 0;
  }
}

figure {
  max-width: 300px;

}

figure.primary {
  max-width: 100%;
}

ul {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

li {
  list-style: circle;
}

li.navList {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  figure {
    max-width: 175px;
  }
}

.nav-link.active,
.nav-link {
  background-color: whitesmoke;
}

.nav-link {
  color: black;
}

.welshGreen {
  color: #1ab347;
}

/* Image Gallery */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.image-container {
  position: relative;
  max-width: 350px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.caption-container p {
  margin: 10px 0;
}

.image-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin-top: 100px;
}

footer p {
  margin-left: 25px;
  margin-bottom: 0px;
}